.jumbotron {
	text-align: center;
	background: none;
	margin-top: 2%;
}

.sectionLight{
	background-color: #eceeef;
	padding: 2rem;
}

.sectionDark{
	background-color: #cccccc;
	padding: 2rem;
}

.coolStuffWrapper{
	margin-top: 20px;
}

.coolStufffBtn{
	display: block;
	margin: auto;
}

h1.modal-title{
	margin: auto;
}
.modalFormWrapper{
	padding: 2rem;
}

.imgCentre{
	display: block;
	margin: auto;
}

.btn-centre {
	display: block;
	margin: auto;
	margin-top: 15px;
	margin-bottom: 20px;
	width: 84%;
}

.footerImg{
	padding: 10px;
	width: 75%;
}
.socialWrapper{
	margin: auto;
}
.fab{
	margin: 10px;
}

.fa-facebook-square{
	color: #3b5998;
}
.fa-google-plus-square{
	color: #c32f10;
}
.fa-instagram-square{
	color: #ffffff;
}

.fa-tiktok{
	color: #0078ff;
}